appdirs==1.4.4
asgiref==3.2.7
astroid==2.3.3
bcrypt==3.1.7
beautifulsoup4==4.9.0
branca==0.4.1
bson==0.5.8
certifi==2020.4.5.2
cffi==1.13.1
chardet==3.0.4
Click==7.0
cmake==3.17.3
cssselect==1.1.0
dataclasses==0.6
distlib==0.3.0
Django==2.2.13
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.11.0
djongo==1.3.2
dlib==19.20.0
dnspython==1.16.0
face-recognition-models==0.3.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.3.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
html5lib==1.0.1
idna==2.8
isort==4.3.21
itsdangerous==0.24
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.20.0
nmap==0.0.1
nose==1.3.7
numpy==1.16.5
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
paho-mqtt==1.5.0
pandas==1.0.3
parsel==1.6.0
Pillow==6.2.1
pycparser==2.19
pylint==2.4.4
pymongo==3.10.1
python-dateutil==2.8.1
python-nmap==0.6.1
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.2.4
termcolor==1.1.0
typed-ast==1.4.0
urllib3==1.25.7
w3lib==1.21.0
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
zdm-client-py==0.0.9
